<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../css/style.css" /> 
	</head>
<!--------------------------------------------------------------------------------------------------->
<body>
<center>
<div >
	<table id="ImportantLinks">
	<tr>
		<th>Social<hr align="left"></th>
		<th>Publishers<hr align="left"></th>
		<th>IIT Guwahati<hr align="left"></th>
		<th>Research<hr align="left"></th>
		<th>People<hr align="left"></th>
		<th>Xtra<hr align="left"></th>
	</tr>
	<tr>
		<td ><table>
		<tr><td id="ImpLinksCell">
			<a href="https://www.facebook.com/subhrendu.chattopadhay" id="ImpLinks" target="_blank">FaceBook</a><br>
		</td></tr>
		<tr><td id="ImpLinksCell">
			<a href="https://plus.google.com/u/0/+subhrenduchattopadhyay/posts" id="ImpLinks" target="_blank">Google+</a><br>
		</td></tr>
		<!--tr><td id="ImpLinksCell">
			<a href="http://www.linkedin.com/" id="ImpLinks" target="_blank">Linkedin</a><br>
		</td></tr-->
		<tr><td id="ImpLinksCell">
			<a href="http://www.informatik.uni-trier.de/~ley/pers/hd/c/Chattopadhyay:Subhrendu.html"  id="ImpLinks" target="_blank">DBLP</a><br>
		</td></tr>
		<tr><td id="ImpLinksCell">
			<a href="http://scholar.google.co.in/citations?user=B0fUBacAAAAJ&hl=en"  id="ImpLinks" target="_blank">Google Scholar</a><br>
		</td></tr>
		</td></table>
		<!------------------------------------------------------------------------------------------------------------------------------------------>
		<td><table>
		<tr><td id="ImpLinksCell">
			<a href="http://ieeexplore.ieee.org/Xplore/home.jsp"  id="ImpLinks" target="_blank">IEEE Explore</a><br>
		</td></tr>
		<tr><td id="ImpLinksCell">
			<a href="http://dl.acm.org/dl.cfm"  id="ImpLinks" target="_blank">ACM dl</a><br>
		</td></tr>
		<tr><td id="ImpLinksCell">
			<a href="http://www.sciencedirect.com/"  id="ImpLinks" target="_blank">Science Direct</a><br>
		</td></tr>
		<tr><td id="ImpLinksCell">
			<a href="http://103.1.187.206/core"  id="ImpLinks" target="_blank">Core Ranking</a><br>
		</td></tr>
		</table></td>
		<!------------------------------------------------------------------------------------------------------------------------------------------>
		<td><table>
		<tr><td id="ImpLinksCell">
			<a href="http://www.iitg.ernet.in/"  id="ImpLinks" target="_blank">IIT Guwahati</a><br>
		</td></tr>
		<tr><td id="ImpLinksCell">
			<a href="http://www.iitg.ernet.in/cse/"  id="ImpLinks" target="_blank">Dept.of CSE</a><br>
		</td></tr>
		<tr><td id="ImpLinksCell">
			<a href="https://docs.google.com/spreadsheets/d/1FxGsT5cBV2YAT4I4Qf7vfg0k1VF6LEEhMQG8Fz9Xpt4/edit?usp=sharing"  id="ImpLinks" target="_blank">Conf. List</a><br>
		</td></tr>
		<tr><td id="ImpLinksCell">
			<a href="https://subhrendu1987.github.io/mobileSite/index.html" id="ImpLinks" target="_blank">Mobile Site</a><br>	
		</td></tr>
		</table></td>
		<td><table>
		<!------------------------------------------------------------------------------------------------------------------------------------------>
		<tr><td id="ImpLinksCell">
			<a href="https://www.ntt-review.jp/archive/ntttechnical.php?contents=ntr201004gls.html" id="ImpLinks" target="_blank">Wlan Standard</a><br>
		</td></tr>
		<tr><td id="ImpLinksCell">
			<a href="http://en.wikipedia.org/wiki/Cognitive_network" id="ImpLinks" target="_blank">Cognitive Networks</a><br>
		</td></tr>
		<tr><td id="ImpLinksCell">
		<a href="https://www.opennetworking.org/sdn-resources/openflow"  id="ImpLinks" target="_blank">Openflow</a><br>
		</td></tr>
		<tr><td id="ImpLinksCell">
			<a href="https://github.com/subhrendu1987"  id="ImpLinks" target="_blank">Github</a><br>
		</td></tr>
		<!--tr><td id="ImpLinksCell">
			<a href="http://en.bookfi.org/"  id="ImpLinks" target="_blank">e-Books</a><br>
		</td></tr-->
		</table></td>
		<!------------------------------------------------------------------------------------------------------------------------------------------>
		<td><table>
		<tr><td id="ImpLinksCell">
		<a href="http://www.iitg.ernet.in/sukumar/" id="ImpLinks" target="_blank">Prof. Nandi</a><br>
		</td></tr>
		<tr><td id="ImpLinksCell">
			<a href="http://cse.iitkgp.ac.in/~sandipc/" id="ImpLinks" target="_blank">Dr. Chakraborty</a><br>
		</td></tr>
		<tr><td id="ImpLinksCell">
			<a href="http://www.iitg.ernet.in/stud/niladri/" id="ImpLinks" target="_blank">Niladri Sett</a><br>
		</td></tr>
		<tr><td id="ImpLinksCell">
			<a href="http://cse.iitkgp.ac.in/~soumadip.biswas/" id="ImpLinks" target="_blank">Soumadip Biswas</a><br>
		</td></tr>
		</table></td>
		<!------------------------------------------------------------------------------------------------------------------------------------------>
		<td><table>
		<tr><td id="ImpLinksCell">
		<a href="../drive/index.html" id="ImpLinks" target="_blank">TA</a><br>
		</td></tr>
		<tr><td id="ImpLinksCell">
			<a href="../drive/sketchs/" id="ImpLinks" target="_blank">Sketches</a><br>
		</td></tr>
		<tr><td id="ImpLinksCell">
			<a href="../util/SubhrenduBookmarks.html" id="ImpLinks" target="_blank">Bookmarks</a><br>
		</td></tr>
		<tr><td id="ImpLinksCell">
			<a href="../basic_pages/MessMenu.html" id="ImpLinks" target="_blank">MessMenu</a><br>
		</td></tr>
		</table></td>
	</tr>
	</table>
</div>
<table width="70%"><tr><td class="footer" style="font-size:10px">
		Last Modified on <script>document.write(document.lastModified);</script>|
		Copyright &copy 2013 - All Rights Reserved by Subhrendu
</td></tr></table>
</center>	
</body>
<!---------------------------------MAIN BODY END------------------------------------------------------->
</html>
