<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../css/style.css" />
		<!------------------------->
	</head>
<body>
<!--------------------------------------------------------------------------------------------------->
	<!--div class="showhim">HOVER ME
	<div class="showme">hai</div>
</div>
<!--------------------------------------------------------------------------------------------------->
<center>
<table width="70%"><tr><td >
	<a id="NamePlate" href="../index.html" target="_top">
			<div class="name">Subhrendu Chattopadhyay</div>
			<div class="nameplate_addr">RS-2 Lab, Cube 15 <br>
			Department of Computer Science and Engineering<br>
			Indian Institute of Technology, Guwahati<br>
			Assam India 781039</div>
	</a>
</td>
<td align="center">
	<div id="Logo">
			<a href="http://www.iitg.ac.in/cse/"><img src="../Picture/iitg_web_mid.gif" alt="IITG_LOGO" height="64px" class="tiptext"><iframe class="description" src="http://www.iitg.ac.in/cse/"></iframe></a>
	</div>
</td></tr></table>
<hr>
</center>
<!--------------------------------------------------------------------------------------------------->


<!--------------------------------------------------------------------------------------------------->
</body>
</html>
