<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../css/style.css" />
		<!------------------------->
	</head>
<body>
<!--------------------------------------------------------------------------------------------------->
	<!--div class="showhim">HOVER ME
	<div class="showme">hai</div>
</div>
<!--------------------------------------------------------------------------------------------------->
<center>
	<table width="100%">
		<tr><td style="text-align:left">
				<div class="name">Subhrendu Chattopadhyay</div>
				<div class="nameplate_addr">Cube-15, RS-2 Lab<br>
				Department of Computer Science and Engineering<br>
				Indian Institute of Technology, Guwahati<br>
				Assam India 781039</div>
	        </td>
	        <td align="right">
		        <div id="Logo">
				    <img src="../Picture/iitg_web_mid.gif" alt="IITG_LOGO" href="index.html" height="64px">
		        </div>
		</td></tr>
	</table>
</center>
<!--------------------------------------------------------------------------------------------------->
</body>
</html>
