<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../css/style.css" /> 
	</head>
<body>
<!--------------------------------------------------------------------------------------------------->
	<!--div class="showhim">HOVER ME
	<div class="showme">hai</div>
</div>
<!--------------------------------------------------------------------------------------------------->
<center>
<table width="70%"><tr><td >
	<a id="NamePlate" href="../index.html" target="_top">
			<div class="name">Subhrendu Chattopadhyay</div>
			<div class="nameplate_addr">RS-2 Lab, Cube 15 <br>
			Department of Computer Science and Engineering<br>
			Indian Institute of Technology, Guwahati<br>
			Assam India 781039</div>
	</a>
</td>
<td align="center">
	<div id="Logo">
			<a href="http://www.iitg.ac.in/cse/"><img src="../Picture/iitg_web_mid.gif" alt="IITG_LOGO" href="../index.html" height="64px"> </a>
	</div>
</td></tr></table>
<hr>
</center>
<!--------------------------------------------------------------------------------------------------->
<!--center>
<table class="NavBar">
	<tr align="center">
		<td class="Change Hicon">
			<a id="NavBarLink" class="NavLink" href="../index.html" target="_top">Home</a>
		</td>
		<td class="Change Aicon">
			<a id="NavBarLink" class="NavLink" href="../academics.html" target="_top">Academics</a>
		</td>
		<td class="Change Picon">
			<a id="NavBarLink" class="NavLink" href="../publication.html" target="_top">Publication</a>
		</td>
		<td class="Change Cicon">
			<a id="NavBarLink" class="NavLink" href="../contact.html" target="_top">Contact</a>
		</td>
	</tr>
</table>
</center-->
<!--------------------------------------------------------------------------------------------------->
</body>
</html>
