<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../css/style.css" /> 
	</head>
<!--------------------------------------------------------------------------------------------------->
<body>
<center>
<div >
	<table id="ImportantLinks">
	<tr>
		<th>Social<hr align="left"></th>
		<th>Research<hr align="left"></th>
		<th>IIT Guwahati<hr align="left"></th>
		<th>Hobbies<hr align="left"></th>
		<th>Others<hr align="left"></th>
	</tr>
	<tr>
		<td ><table>
		<tr><td id="ImpLinksCell">
			<a href="https://www.facebook.com/subhrendu.chattopadhay" id="ImpLinks" target="_top">FaceBook</a><br>
		</td></tr>
		<tr><td id="ImpLinksCell">
			<a href="https://plus.google.com/" id="ImpLinks" target="_top">Google+</a><br>
		</td></tr>
		<tr><td id="ImpLinksCell">
			<a href="http://www.linkedin.com/" id="ImpLinks" target="_top">Linkedin</a><br>
		</td></tr>
		</td></table>
		<td><table>
		<tr><td id="ImpLinksCell">
			<a href="http://scholar.google.co.in/citations?user=B0fUBacAAAAJ&hl=en"  id="ImpLinks" target="_top">Google Scholar</a><br>
		</td></tr>
		<tr><td id="ImpLinksCell">
			<a href="http://dblp.uni-trier.de/"  id="ImpLinks" target="_top">DBLP</a><br>
		</td></tr>
		<tr><td id="ImpLinksCell">
			<a href="http://ieeexplore.ieee.org/Xplore/home.jsp"  id="ImpLinks" target="_top">IEEE Explore</a><br>
		</td></tr>
		<tr><td id="ImpLinksCell">
			<a href="http://en.wikipedia.org/wiki/Main_Page"  id="ImpLinks" target="_top">Wikipedia</a><br>
		</td></tr>
		</table></td>
		<td><table>
		<tr><td id="ImpLinksCell">
			<a href="http://www.iitg.ernet.in/"  id="ImpLinks" target="_top">IIT Guwahati</a><br>
		</td></tr>
		<tr><td id="ImpLinksCell">
			<a href="http://www.iitg.ernet.in/cse/"  id="ImpLinks" target="_top">Dept.of CSE</a><br>
		</td></tr>
		<tr><td id="ImpLinksCell">
			<a href="https://webmail.iitg.ernet.in/src/login.php" id="ImpLinks" target="_top">Webmail</a><br>
		</td></tr>
		<tr><td id="ImpLinksCell">
			<a href="http://www.iitg.ernet.in/conference-workshop" id="ImpLinks" target="_top">Conference</a><br>
		</td></tr>
		</table></td>
		<td><table>
		<tr><td id="ImpLinksCell">
		<a href="http://en.wikipedia.org/wiki/Origami"  id="ImpLinks" target="_top">Origami</a><br>
		</td></tr>
		<tr><td id="ImpLinksCell">
			<a href="http://pencilsketch.in/"  id="ImpLinks" target="_top">Sketches</a><br>
		</td></tr>
		<tr><td id="ImpLinksCell">
			<a href="http://en.bookfi.org/"  id="ImpLinks" target="_top">e-Books</a><br>
		</td></tr>
		</table></td>
		<td><table>
		<tr><td id="ImpLinksCell">
		<a href="http://www.iitg.ernet.in/sukumar/" id="ImpLinks" target="_top">Prof. Nandi</a><br>
		</td></tr>
		<tr><td id="ImpLinksCell">
			<a href="http://www.iitg.ernet.in/stud/c.sandip/" id="ImpLinks" target="_top">Sandip Chakraborty</a><br>
		</td></tr>
		<tr><td id="ImpLinksCell">
			<a href="https://www.ntt-review.jp/archive/ntttechnical.php?contents=ntr201004gls.html" id="ImpLinks" target="_top">Wlan Standard</a><br>
		</td></tr>
		<tr><td id="ImpLinksCell">
			<a href="http://en.wikipedia.org/wiki/Cognitive_network" id="ImpLinks" target="_top">Cognitive Networks</a><br>
		</td></tr>
		</table></td>
	</tr>
	</table>
</div>
<table width="70%"><tr><td class="footer" style="font-size:10px">
		Last Modified on <script>document.write(document.lastModified);</script>|
		Copyright &copy 2013 - All Rights Reserved by Subhrendu
</td></tr></table>
</center>	
</body>
<!---------------------------------MAIN BODY END------------------------------------------------------->
</html>
