<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../css/style.css" /> 
	</head>
<!--------------------------------------------------------------------------------------------------->
<!--body>
	<div class="showhim">HOVER ME
	<div class="showme">hai</div>
</div>
<!--------------------------------------------------------------------------------------------------->
<center>
<table width="70%"><tr><td >
	<a id="NamePlate" href="../index.html" target="_top">
			<div class="name">Subhrendu Chattopadhyay</div>
			<div class="nameplate_addr">Department of Computer Science and Engineering<br>
			Indian Institute of Technology, Guwahati<br>
			Assam India 781039</div>
	</a>
</td>
<td align="center">
	<div id="Logo">
			<a href="http://www.iitg.ac.in/cse/"><img src="../Picture/iitg_web_mid.gif" alt="IITG_LOGO" href="../index.html" height="64px"> </a>
	</div>
</td></tr></table>
<hr>
</center>
<!--------------------------------------------------------------------------------------------------->
<center>
<table class="NavBar">
	<tr align="center">
		<td class="Change Hicon">
			<table>
				<tr><td>
					<a id="NavBarLink" class="NavLink" href="../index.html" target="_top">Home</a>
				</td></tr>
					
			</table>
		</td>
		<td class="Change Aicon">
			<table>
				<!--tr align="center"><td>
					<a id="NavBarLink" class="NavLink" href="../academics.html" target="_top">
					<img class="acad_icon" src="../Picture/rsz_acad.png" alt="acad_icon">
					</a>
				</td></tr-->
				<tr>
				
				<td>
					<a id="NavBarLink" class="NavLink" href="../academics.html" target="_top">Academics</a>
				</td>
				</tr>
			</table>
		</td>
		<td class="Change Picon">
			<table>
				<!--tr align="center"><td>
					<a id="NavBarLink" class="NavLink" href="../publication.html" target="_top">
					<img class="pub_icon" src="../Picture/rsz_publication.png" alt="publication_icon">
					</a>
				</td></tr-->
				<tr><td>
					<a id="NavBarLink" class="NavLink" href="../publication.html" target="_top">Publication</a>
				</td></tr>
			</table>
		</td>
		<td class="Change Cicon">
			<table>
				<!--tr align="center"><td>
					<a id="NavBarLink" class="NavLink" href="../contact.html" target="_top">
					<img class="cont_icon" src="../Picture/rsz_contact.png" alt="contact_icon">
					</a>
				</td></tr-->
				<tr><td>
					<a id="NavBarLink" class="NavLink" href="../contact.html" target="_top">Contact</a>
				</td></tr>
			</table>
		</td>
	</tr>
</table>
</center>
<!--------------------------------------------------------------------------------------------------->
</body>
</html>
